.jumbo-text {
    font-size: 80px;
    display: block;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

md-card-title {
    padding-top: 10px !important;
}

.md-subhead {
    font-size: 20px !important;
    padding-top: 5px !important;
    color: rgba(0, 0, 0, 0.6);
}