<md-card flex>
    <md-card-title>
        <md-card-title-text>
            <div class="md-headline" layout="row" layout-align="start center">
                {{ vm.title }}
                <span flex></span>
                <md-button data-ng-if="!vm.noReset" class="md-icon-button" data-ng-click="vm.reset($event)">
                    <md-icon>delete</md-icon>
                    <md-tooltip>{{ ::'ZERO' | translate }}</md-tooltip>
                </md-button>
            </div>
            <span class="md-subhead">{{ vm.subtitle }}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <span class="jumbo-text" data-ng-style="{ color: vm.color }">{{ vm.value }}</span>
    </md-card-content>
</md-card>